.root {
  /* display: grid;
  grid-template-columns: repeat(3, 200px); */
  /* grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto; */

  /* grid-template-rows: minmax(min-content, max-content); */

  /* gap: 20px;
  align-content: space-between; */
}

.el {
  border: solid;
  width: 200px;
}

.section {
  display: flex;
  width: 500px;
}

.column{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
